<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8" />
        <title><Locale>index-html-00804e03c91139c0fe96ad06a8c5f2cb3637c240ca0ef556845b61bf4242aa97</Locale></title>
        <meta name="keywords" content="<Locale>index-html-787013a716e861d8fcc0423d2a9ebdd8710ebdb00afe1ed50362b861a52580c6</Locale>" />
        <meta name="description" content="<Locale>index-html-daeb627481108f4e3e187efad84d48b9eb2b0d6a3dbf5604dcb4b23f438e55f3</Locale>" />
        <meta http-equiv="X-UA-Compatible" content="IE=Edge" />
        <meta name="renderer" content="webkit|ie-comp|ie-stand" />
        <meta name="viewport" content="initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0, user-scalable=no" />
        <meta name="wlhlauth" content="024f08db9206535eba960dadc521c2a2" />
        <link href="/images/index/fav.ico" rel="shortcut icon" type="image/vnd.microsoft.icon" />
        <link href="cmps/bootstrap/dist/css/bootstrap.min.css" rel="stylesheet" />
        <link rel="canonical" href="https://www.sample.com" />
        <link href="css/style.css" rel="stylesheet" />
        <link href="css/mob/indexnew.css" rel="stylesheet" />
        <link href="css/index.css" rel="stylesheet" />
        <link href="css/fincanvas.css" rel="stylesheet" />
        <!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
        <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
        <!--[if lt IE 9]>
            <script src="//cdn.bootcss.com/html5shiv/3.7.2/html5shiv.min.js" type="text/javascript"></script>
            <script src="//cdn.bootcss.com/respond.js/1.4.2/respond.min.js" type="text/javascript"></script>
        <![endif]-->
    </head>

    <body>
        <!-- Page Wrapper -->
        <div id="wrap" class="index">
            <!-- Header -->
            <%= partials.pageHeader %>
            <!-- End Header -->
            <!--======= SUB BANNER =========-->
            <div id="carousel-example-generic" class="carousel slide index-banner" data-ride="carousel">
                <!-- Indicators -->
                <ol class="carousel-indicators">
                    <li data-target="#carousel-example-generic" data-slide-to="0" class="active"></li>
                    <li data-target="#carousel-example-generic" data-slide-to="1"></li>
                </ol>
                <!-- Wrapper for slides -->
                <div class="carousel-inner" role="listbox">
                    <div class="item active index-first">
                        <div class="container">
                            <div class="banner-txt col-sm-12">
                                <h1 class="banner-title"><Locale>index-html-b819de55d6da01d8a587c3083664da5fb69120b9d142238ae84b62e7a461f4fd</Locale></h1>
                                <h3 class="banner-subtitle"><Locale>index-html-fcdfca15dec3da5f4917815ca6e416fbbc3376c4ab75bd7ab1dc8d913135e7e9</Locale></h3>
                                <a href="https://sample.com/register" class="register registerbg" ><Locale>index-html-15e24935b4f2b5b7f6edefef944edfa2359be165b5d46cc047b9a4dcc0829557</Locale></a>
                            </div>
                        </div>
                        <div class="location">
                            <div class="location-hover">
                                <div class="location-hover-ico"></div>
                            </div>
                        </div>
                    </div>
                    <div class="item index-second">
                        <div class="container">
                            <div class="banner-txt col-sm-12">
                                <h1 class="banner-title">
                                    <Locale>index-html-de400720af00b912a9dc2d12985718f36a8d4ebd4efd566a4907a0f2d68cb02c</Locale><span><Locale>index-html-fbf9c95ff105f4cde5a45f26620b8561e517ce99531426d050a1dda89759b4ae</Locale></span
                                    ><Locale>index-html-e4968cb4358aa6243a1b4e8eeaffffbb30bf5fe4ad19f46149054d9bd19e4ea8</Locale>
                                </h1>
                                <h3 class="banner-subtitle"><Locale>index-html-abe76bbed02b4b43cdc0a913abb4db3e7cafd0e4e2683b18836e9ea411e07654</Locale></h3>
                                <a href="https://sample.com/register" class="register registerbg"><Locale>index-html-15e24935b4f2b5b7f6edefef944edfa2359be165b5d46cc047b9a4dcc0829557</Locale></a>
                            </div>
                        </div>
                        <div class="location">
                            <div class="location-hover">
                                <div class="location-hover-ico"></div>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- Controls -->
                <a class="left carousel-control" href="#carousel-example-generic" role="button" data-slide="prev">
                    <span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span>
                    <span class="sr-only">Previous</span>
                </a>
                <a class="right carousel-control" href="#carousel-example-generic" role="button" data-slide="next">
                    <span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span>
                    <span class="sr-only">Next</span>
                </a>
            </div>
            <!-- Content -->
            <div id="content">
                <section class="first">
                    <div class="container">
                        <h2><Locale>index-html-1b68e6b2ca3ed4666a3e2970ac7feff29851aa05a1a98feaa973ad4c2b106a02</Locale></h2>
                        <ul>
                            <li class="col-sm-2 col-xs-6">
                                <a href="feature_call.html">
                                    <img src="images/index/1-01.png" />
                                    <p><Locale>index-html-f4d3a119bd157f47a89db2a3d195e9db6c2becbb69c18dbfe351281a84c434ac</Locale></p>
                                </a>
                            </li>
                            <li class="col-sm-2 col-xs-6">
                                <a href="feature_robot.html">
                                    <img src="images/index/1-02.png" />
                                    <p><Locale>index-html-599d24fe828d32537fdf42df5ca475e30af6a4275a0d09ef1bc6a1d383544123</Locale></p>
                                </a>
                            </li>
                            <li class="col-sm-2 col-xs-6">
                                <a href="feature_urobot.html">
                                    <img src="images/index/1-03.png" />
                                    <p><Locale>index-html-79914e7ecf1bc9921b62c7df073c9e0c6f3a073b8f47690773596e8e7988c3a7</Locale></p>
                                </a>
                            </li>
                            <li class="col-sm-2 col-xs-6">
                                <a href="feature_weifeng.html">
                                    <img src="images/index/1-07.png" />
                                    <p><Locale>index-html-4a0c0ca729cc6fae0d5bc03988a542c493ba95f494d41833a7fedffa09465173</Locale></p>
                                </a>
                            </li>
                            <li class="col-sm-2 col-xs-6">
                                <a href="feature_servicego.html">
                                    <img src="images/index/1-04.png" />
                                    <p><Locale>index-html-b31f2e4e80454c273220804739c5ae9353a582e4a7d0de4d5207c115158da18b</Locale></p>
                                </a>
                            </li>
                            <li class="col-sm-2 col-xs-6">
                                <a href="feature_wfo.html">
                                    <img src="images/index/1-05.png" />
                                    <p><Locale>index-html-dab177c20c41191a41ab68782097f3cd05a17ffd1de9b96d3b5cf1a8150337a5</Locale></p>
                                </a>
                            </li>
                            <li class="col-sm-2 col-xs-6">
                                <a href="feature_ccpaas.html">
                                    <img src="images/index/1-06.png" />
                                    <p><Locale>index-html-ef876054ad0edba79e0dc12afb8e64cc2607840f5a8195b2c6355518b039f805</Locale></p>
                                </a>
                            </li>
                        </ul>
                    </div>
                </section>
                <section class="second">
                    <div class="container">
                        <h1><Locale>index-html-033d645348ccd38740289d2bdb43550c7c14ffdf086e4a7b47ca13c967e69132</Locale></h1>
                        <h3><Locale>index-html-eb023327e0099294f3f6c798712cfb4dced97840c0ba2182ac248b63ce523cfe</Locale></h3>
                        <button class="down-solution registerbg" id="down_load" data-toggle="modal" data-target="#myModal"><Locale>index-html-19ddf403d99e26ac2bef5ba1420f00090d39f97db2b4ca629d44ece76be17f36</Locale></button>
                        <!-- Modal -->
                        <div class="modal fade modal_$LANG$" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel"></div>
                    </div>
                </section>
                <section class="third">
                    <div class="container">
                        <h2><Locale>index-html-e1e6480e83346d7adf81e8fd59f84653342d9a390effebdc1b1090edeaed6e16</Locale></h2>
                        <ul class="font-size-12_$LANG$">
                            <li>
                                <img src="images/index/3-01.png" />
                                <p><Locale>index-html-842178b91d76ff620e5b3a8a15efcb095588fd2debad868aec5bbd819b975512</Locale></p>
                                <a href="feature1.html" class="knowmore"><Locale>index-html-496c1f905c35635caa2f6ca1ccf46ab0b5b0072fb3530b8906c838dc0b487c81</Locale></a>
                            </li>
                            <li>
                                <img src="images/index/3-02.png" />
                                <p><Locale>index-html-d8a170ffec9c4a8259b23e70789b6da4b74d55758b7c43dbba149c0adc5c3820</Locale></p>
                                <a href="feature2.html" class="knowmore"><Locale>index-html-496c1f905c35635caa2f6ca1ccf46ab0b5b0072fb3530b8906c838dc0b487c81</Locale></a>
                            </li>
                            <li>
                                <img src="images/index/3-04.png" />
                                <p><Locale>index-html-ef876054ad0edba79e0dc12afb8e64cc2607840f5a8195b2c6355518b039f805</Locale></p>
                                <a href="feature3.html" class="knowmore"><Locale>index-html-496c1f905c35635caa2f6ca1ccf46ab0b5b0072fb3530b8906c838dc0b487c81</Locale></a>
                            </li>
                            <li>
                                <img src="images/index/3-06.png" />
                                <p><Locale>index-html-e09462695b9f18966a104c7a402c710bbdc7730710c41cd5af4e503afeb75d75</Locale></p>
                                <a href="feature4.html" class="knowmore"><Locale>index-html-496c1f905c35635caa2f6ca1ccf46ab0b5b0072fb3530b8906c838dc0b487c81</Locale></a>
                            </li>
                            <li>
                                <img src="images/index/3-05.png" />
                                <p><Locale>index-html-b31f2e4e80454c273220804739c5ae9353a582e4a7d0de4d5207c115158da18b</Locale></p>
                                <a href="feature5.html" class="knowmore"><Locale>index-html-496c1f905c35635caa2f6ca1ccf46ab0b5b0072fb3530b8906c838dc0b487c81</Locale></a>
                            </li>
                            <li>
                                <img src="images/index/3-03.png" />
                                <p><Locale>index-html-03d663bb6d519743b99915cd93e16d6ca3b4fd5e7b6619701d62ad551807474a</Locale></p>
                                <a href="feature6.html" class="knowmore"><Locale>index-html-496c1f905c35635caa2f6ca1ccf46ab0b5b0072fb3530b8906c838dc0b487c81</Locale></a>
                            </li>
                        </ul>
                    </div>
                </section>
                <section class="four">
                    <div class="container">
                        <h1><Locale>index-html-acaacdfde3c6b48cf5d2fb97238c73692682613f3e344f08c58f0807c069aebc</Locale></h1>
                        <h3><Locale>index-html-8eb23ae60715f60ecb52691bdd07289ee81ba4d3563f7c18dc29af4824270edc</Locale></h3>
                        <a href="about.html" class="knowmore registerbg"><Locale>index-html-496c1f905c35635caa2f6ca1ccf46ab0b5b0072fb3530b8906c838dc0b487c81</Locale></a>
                        <div class="four-img">
                            <img src="images/index/4-06.png" />
                            <img src="images/index/4-08.png" />
                            <img src="images/index/4-04.png" />
                            <img src="images/index/4-03.png" />
                            <img src="images/index/4-02.png" />
                            <img src="images/index/4-01.png" />
                            <img src="images/index/4-09.png" />
                            <a href="solution.html" class="viewmore"><Locale>index-html-f55707b9f9303df52d8a745b2d820d0a30fc2013bd0e225c72843fb05fa5a450</Locale></a>
                        </div>
                    </div>
                </section>
            </div>
            <!-- End Content -->
            <!-- Footer -->
            <!-- <footer id="footer"></footer> -->
            <%= partials.pageFooter %>
            <div class="container youlinks hide_$LANG$">
                <p class="chain"><Locale>index-html-7b61ebec2fb8af3c91def2a8874cb7c0bd16e7b87f0f93f17cd4c76038c49df3</Locale></p>
                <div class="chain-name">
                    <a href="/"><Locale>index-html-2a10f9dff6e15fc4e350896bc890ed4294688b41fc80ee4b968f6a07d729bee8</Locale></a
                    ><a href="feature_channels.html"><Locale>index-html-a09469baead12a5ee8f63d488cd6a10ea6faa373da4bbb531b737ccdb5e9f528</Locale></a
                    ><a href="feature_call.html"><Locale>index-html-18695c78c17fc41ada97e47e2bc95d23996ec23ee2228336f77cb1a462a654e1</Locale></a
                    ><a href="https://www.it163.com/" target="_blank"><Locale>index-html-0c065b7308624b0f52ef5e86ffeacd016723bae116c6065d64c9d32552da2497</Locale></a
                    ><a href="https://www.shsixun.com/" target="_blank"><Locale>index-html-aa5f5d9770ddecde1c8663c08636e859a826855a5dc901301b4e3008b4fca0d0</Locale></a
                    ><a href="http://www.mymos.cn/" target="_blank"><Locale>index-html-81d82846eaae3ce20d224214bec78cbce5898d5aa8c6906265cc768b54342dcb</Locale></a
                    ><a href="http://www.orbitmes.com/" target="_blank"><Locale>index-html-db24a05ba738a1007019ef0cbbe7749df4dc40dd79499e3afd168af6dde80014</Locale></a
                    ><a href="https://www.fangcloud.com/" target="_blank"><Locale>index-html-d5eebb77eab41115d094f84a9e9c52599b82a4879505893b155070aac5841230</Locale></a
                    ><a href="http://www.karlos.com.cn/" target="_blank"><Locale>index-html-f74373aed000eebe4ba936c820411801112d6cb009156ad01d5bc38bb0de02db</Locale></a
                    ><a href="https://www.hecom.cn/" target="_blank"><Locale>index-html-e7a9a382c0bb24cb8fa4f63828f268d6318e2e112b4af3a45ed1d56eb4bff374</Locale></a
                    ><a href="http://www.fengakj.com/" target="_blank"><Locale>index-html-bc2034000c6fbc8a474d1d11c0e58e565b980331f811fcd79fb06b41c27cc92f</Locale></a
                    ><a href="http://www.yhz66.com" target="_blank"><Locale>index-html-d5eebb77eab41115d094f84a9e9c52599b82a4879505893b155070aac5841230</Locale></a
                    ><a href="https://www.baidufree.com/" target="_blank"><Locale>index-html-9842727683bd32e386d307daaea6b92d9b860d22f964d8e3d5020e32522ce45c</Locale></a
                    ><a href="http://www.yinfeiy.com/" target="_blank"><Locale>index-html-652f92d7d7b425de183f27d4a7a9b48af19d5782fe5435449644982fe8955e3b</Locale></a
                    ><a href="http://www.wiseuc.com/" target="_blank"><Locale>index-html-6c49dc526db9eb860100369d80d8bce813e3cb851fdb4f07ab386de68a2bef93</Locale></a
                    ><a href="https://www.smsyun.cc/" target="_blank"><Locale>index-html-505ebcc18fbb7ea917bf178a12f89ec23ed54723a80bfa88ff04258eb877f0a7</Locale></a
                    ><a href="https://www.changxingyun.com/" target="_blank"><Locale>index-html-1cabe58fec40b5146059db29a29136ba1f940a25329bb39455ac6e30196b5580</Locale></a
                    ><a href="http://www.6erp.cn/" target="_blank"><Locale>index-html-db24a05ba738a1007019ef0cbbe7749df4dc40dd79499e3afd168af6dde80014</Locale></a
                    ><a href="https://www.rishiqing.com" target="_blank"><Locale>index-html-fd8d688fbdfaa4b9fd489c0bf4ce5d1d58baa9e057e7bee6e98777c69d19645a</Locale></a
                    ><a href="https://www.meijiexia.com" target="_blank"><Locale>index-html-60260099dde7c524e89a3a5ff966afaac4d268020320b07577b881716ba31064</Locale></a
                    ><a href="http://www.imfirewall.com" target="_blank"><Locale>index-html-bee85027878245ad3ea8420d777c6ea3b29420b5ced45b725c4b31f4a38aee3f</Locale></a
                    ><a href="https://www.zkcrm.com/" target="_blank"><Locale>index-html-e7a9a382c0bb24cb8fa4f63828f268d6318e2e112b4af3a45ed1d56eb4bff374</Locale></a
                    ><a href="http://www.soft78.com" target="_blank"><Locale>index-html-08e7e4578a188ac3d71df148e560733f0eb913825a4e92e8379080425d52d656</Locale></a
                    ><a href="https://www.fxiaoke.com" target="_blank">CRM</a><a href="https://www.maiscrm.com" target="_blank"><Locale>index-html-1aac5b6ab0542c2ad083e46129e16c7c4a17926d8634a4103935b195ae8b8932</Locale></a
                    ><a href="http://www.10oa.com/" target="_blank"><Locale>index-html-ef05baadec612916f1fd69c55726b8b28aacebcff8cd440fa4a7e26a32440fea</Locale></a
                    ><a href="https://kodcloud.com" target="_blank"><Locale>index-html-d5eebb77eab41115d094f84a9e9c52599b82a4879505893b155070aac5841230</Locale></a
                    ><a href="http://www.jiusi.net" target="_blank"><Locale>index-html-ef05baadec612916f1fd69c55726b8b28aacebcff8cd440fa4a7e26a32440fea</Locale></a
                    ><a href="https://www.focussend.com" target="_blank"><Locale>index-html-a67c4881a803fbebd6a10cb115782363be61cd34a4b2cfe332690ab726670d4a</Locale></a
                    ><a href="http://www.4006026717.com" target="_blank"><Locale>index-html-505ebcc18fbb7ea917bf178a12f89ec23ed54723a80bfa88ff04258eb877f0a7</Locale></a
                    ><a href="https://youhaosuda.com/" target="_blank"><Locale>index-html-9f5078fc40e1079df68cbd4727b2685a83f11779ba1035dc137ae2ffba477837</Locale></a
                    ><a href="https://www.beisen.com/" target="_blank"><Locale>index-html-772aac7217ed54cfc2cff003d91d0b80dd8098d44bc6717064ff7cbdbed2beb6</Locale></a
                    ><a href="http://www.esensoft.com/" target="_blank"><Locale>index-html-7dfb4b38edbe2888e81c5eeea16035ec4359f3bccb7fcf5f133316d7e88a0e1b</Locale></a
                    ><a href="http://www.phpoa.cn/" target="_blank"><Locale>index-html-0127fafc440a5361d62116fdc689287b8d82aae96d8c2730ba595bf5ee0fcc70</Locale></a>
                    <a href="https://www.cnjunnet.cn" target="_blank"><Locale>index-html-010e18b9a21fe536e76f3a2963286b4d2a1d3ac2ef3b4fa9efe34bec930523a5</Locale></a>
                    <a href="https://weibanzhushou.com" target="_blank"><Locale>index-html-825f5c8b6e3cd67e50e3a6e9744858f166e474d5fab5ed4047ebae8e4ed6a9d3</Locale></a>
                    <a href="http://www.rektec.com.cn/" target="_blank">CRM</a>
                    <a href="feature_links.html"><Locale>index-html-4e977e5c2d700f5f94e5d2828d4d7a9f71f85247d04449ab687bfe23a0ff2da9</Locale></a>
                </div>
            </div>
            <!-- End Footer -->
            <div class="suspension-form" id="suspension-form"></div>
            <!-- JavaScripts -->
            <script src="cmps/jquery/jquery.min.js"></script>
            <script src="cmps/bootstrap/dist/js/bootstrap.min.js"></script>

            <script src="js/jiyan.js"></script>
            <script src="js/jquery.cookie.js"></script>
            <script src="js/iftheycall.min.js"></script>
            <script src="js/nav.js"></script>
            <script src="js/own-menu.js"></script>
            <script src="js/main.js"></script>
            <script src="js/application.js"></script>
            <script src="js/jquery.lazyload.min.js"></script>
            <script src="js/download.js"></script>
            <!-- 手机端 -->
            <script type="text/javascript">
                tryGoMobilePage();
                $('.carousel').carousel({
                    interval: 6000
                });
            </script>
            <script>
                $(function() {
                    //首页点击页面滚动到指定位置
                    var contentHeight = $('.index #content').offset().top - 64;
                    $('.location-hover').click(function() {
                        $('html , body').animate({ scrollTop: contentHeight }, 500);
                    });
                    //首页热点明亮变化
                    $('.first ul li a').hover(
                        function() {
                            $(this)
                                .stop()
                                .animate({ opacity: 1 }, 200);
                            $(this)
                                .parent('li')
                                .siblings('li')
                                .children('a')
                                .stop()
                                .animate({ opacity: 0.5 }, 200);
                        },
                        function() {
                            $('.first ul li a')
                                .stop(500)
                                .animate({ opacity: 1 }, 200);
                            // setTimeout(function() {
                            //     $('.first ul li a')
                            //         .stop()
                            //         .animate({ opacity: 1 }, 100);
                            // }, 500);
                        }
                    );
                    // footer links
                    var linkName = $('.chain-name');
                    $('.chain').click(function() {
                        if (linkName.css('display') == 'none') {
                            $('footer .ftcontainer .row').css('padding', '0 0 120px');
                            $('.youlinks').css('bottom', '177px');
                            linkName.show();
                            $(this).css('background-image', 'url("/images/index/linkup.png")');
                        } else {
                            $('footer .ftcontainer .row').css('padding', '0 0 40px');
                            $('.youlinks').css('bottom', '88px');
                            linkName.hide();
                            $(this).css('background-image', 'url("/images/index/linkdown.png")');
                        }
                    });
                });
            </script>
            <!-- ga -->
            <script type="text/javascript">
                (function(i, s, o, g, r, a, m) {
                    i['GoogleAnalyticsObject'] = r;
                    (i[r] =
                        i[r] ||
                        function() {
                            (i[r].q = i[r].q || []).push(arguments);
                        }),
                        (i[r].l = 1 * new Date());
                    (a = s.createElement(o)), (m = s.getElementsByTagName(o)[0]);
                    a.async = 1;
                    a.src = g;
                    m.parentNode.insertBefore(a, m);
                })(window, document, 'script', 'js/analytics.js', 'ga');
                (function(ga) {
                    var r = new RegExp('[\\?&]client_uuid=([^&#]*)'),
                        p = r.exec(location.search);
                    if (p === null) {
                        ci = undefined;
                    } else {
                        ci = decodeURIComponent(p[1].replace(/\+/g, ' '));
                    }
                    ga('create', 'UA-69864074-1', {
                        clientId: ci
                    });
                    ga('send', 'pageview');
                })(ga);
            </script>
            <!-- 360统计 -->
            <script type="text/javascript" src="//s.union.360.cn/102458.js"></script>
            <!-- baidutongji -->
            <script>
                var _hmt = _hmt || [];
                (function() {
                    var hm = document.createElement('script');
                    hm.src = 'https://hm.baidu.com/hm.js?85cdbdd6ba7f014cd503e9f1cd5e5ba0';
                    var s = document.getElementsByTagName('script')[0];
                    s.parentNode.insertBefore(hm, s);
                })();
            </script>
            <!-- <script type="text/javascript">
      var cnzz_protocol =
        "https:" == document.location.protocol ? " https://" : " http://";
      document.write(
        unescape(
          "%3Cspan id='cnzz_stat_icon_1275474394'%3E%3C/span%3E%3Cscript src='" +
            cnzz_protocol +
            "s23.cnzz.com/z_stat.php%3Fid%3D1275474394' type='text/javascript'%3E%3C/script%3E"
        )
      );
    </script> -->
            <!-- visitor_id -->
            <script type="text/javascript">
                $(document).ready(function() {
                    if ($(window).width() > 768) {
                        $('.visitor_id').iftheycall('get_code', {
                            code_length: 4, // Length of promocode. Depends on average number of visits
                            token: 'bc5e5e82dfd424e36dbf14b8f780e6c9'
                        });
                    }
                });
            </script>
            <!-- baidukuaizhao -->
            <script>
                (function() {
                    var bp = document.createElement('script');
                    var curProtocol = window.location.protocol.split(':')[0];
                    if (curProtocol === 'https') {
                        bp.src = 'https://zz.bdstatic.com/linksubmit/push.js';
                    } else {
                        bp.src = 'http://push.zhanzhang.baidu.com/push.js';
                    }
                    var s = document.getElementsByTagName('script')[0];
                    s.parentNode.insertBefore(bp, s);
                })();
            </script>
            <!--[if lt IE 9]>
                <script type="text/javascript">
                    if ($(window).width() > 768) {
                        $('nav').css('width', '80%');
                    }
                    $('.container').css('width', '1200');
                    $('.tel a').attr('href', 'javascript:;');
                    $('#suspension-form').css('display', 'none');
                </script>
            <![endif]-->
        </div>
    </body>
</html>
